<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>

<body>
    <header class="container-fluid bg-dark">
        <div class="row">
            <div class="col-4 d-flex align-items-center">
                <span class="text-white  align-items-center" th:value="${}"></span>
                <span class="text-white align-items-center">&nbsp;with role:&nbsp;<span
                        class="text-white align-items-center"
                        th:value=${}></span></span>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
                <form class="d-flex justify-content-end" method="post" action="/logout">
                    <input class="text-muted btn btn-dark" type="submit" value="Logout">
                </form>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 p-0 pt-3">
            <ul class="list-group">
                    <a href="D:/test/htmls/templates/user_page.html" th:href="@{/user/{name}(name=${currentUserName})}"
                        class="list-group-item list-group-item-action active">
                        User
                    </a>
                    <a sec:authorize="hasRole('ADMIN')" href="D:/test/htmls/templates/admin_page_users.html"
                        class="list-group-item list-group-item-action">
                        Admin
                    </a>
            </ul>
            </div>
            <div class="col-10">
                <p>
                    <h1 class="text-weght-bold">User information-page</h1>
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="5" scope="col border-start">About user</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Firs Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <form data-th-object="${user}" action="#"
                                th:action="@{/user/{username}(username=${user.getUsername()})}" th:method="PUT">
                                <th scope="col" type="text" name="id" th:value="${user.getId()}" disabled></th>
                                <th scope="col" type="text" name="name" th:value="${user.getUsername()}" />
                                </th>
                                <th scope="col" type="text" name="surname" th:value="${user.getSurname}" />
                                </th>
                                <th scope="col" type="tel" name="phoneNumber" th:value="${user.getPhoneNumber()}" />
                                </th>
                                <th scope="col" type="text" name="password" th:value="${user.getPassword()}" />
                                </th>
                            </form>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</body>

</html>